<div class="relative w-full">
  <input
    [type]="showPassword ? 'text' : 'password'"
    hlmInput
    class="w-full pr-10"
    [value]="value"
    [placeholder]="placeholder"
    (input)="onInput($event)"
    (blur)="onTouched()"
  />
  <button
    type="button"
    (click)="togglePasswordVisibility()"
    class="absolute right-3 top-5 -translate-y-1/2 text-muted-foreground hover:text-foreground focus:outline-none"
  >
    <ng-icon [name]="showPassword ? 'lucideEyeOff' : 'lucideEye'" size="20"></ng-icon>
  </button>
</div>
